.burgerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: top;
    min-height: 90vh;
    max-height: auto;
}

.upperBun {
    display:inherit;
    flex-direction:inherit;
    align-items:inherit;
    justify-content:inherit;
    height: 3cm;
    width: 14cm;
    margin-top: 2cm;
}

.lowerBun {
    display:inherit;
    flex-direction:inherit;
    align-items:inherit;
    justify-content:inherit;
    height: 2cm;
    width: 14cm;
    margin-bottom: 2cm;
}

.bun-image {
    height: inherit;
    width: inherit;
    
}



.image {
    height: 1cm;
    width: 12cm;
    margin: 0cm;;
}

.ingredients {
    display: flex;
    flex-direction: column;
}

.i-sub {
    display: inherit;
    flex-direction: inherit;
}
.i-i-sub {
    display: inherit;
    flex-direction: inherit;
}

@media (max-width: 800px) {

    .upperBun {
        display:inherit;
        flex-direction:inherit;
        align-items:inherit;
        justify-content:inherit;
        height: 14vw;
        width: 60vw;
        margin-top: 2cm;
    }
    
    .lowerBun {
        display:inherit;
        flex-direction:inherit;
        align-items:inherit;
        justify-content:inherit;
        height: 9.5vw;
        width: 60vw;
    }
    
    .image {
        height: 4.7vw;
        width: 60vw;
        margin: 0cm;;
    }

    .noIngredients-text {
        font-size: 4vw;
    }
}